$primary-font: 'Exo 2', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$eminence: rgb(84, 42, 125);
$eminence-09: rgb(84, 42, 125, 0.9);
$eminence-05: rgb(84, 42, 125, 0.5);
$shuttle-gray: #67686A;
$scarpa-flow: rgb(77, 76, 80);
$flame-pea: rgb(225, 102, 59);
$punch: rgb(219, 58, 56);
$eastern-blue: rgb(23, 156, 200);
$black: #000000;

$westar: #E5E4E2;

//BREAKPOINTS
// Desktop
$mobile: 640px;

// Tablet
$tablet: 768px;

// Desktop
$desktop: 1200px;